@{
    ViewBag.Title = "Home Page";
}

<section class="splash home">
    <div class="row">
        <div class="col-lg-10 center-block bricks relative">
            @Html.Partial("_Pizza")
            <img src="@Url.Content("/Content/Images/Home/Rosa---Kitchen-Conversion_Tilt.png")" class="rosa" />
            <img src="@Url.Content("/Content/Images/Home/Pizza-Inn-Cowboys.png")" class="inn" />
            <img src="@Url.Content("/Content/Images/Home/Hungry-Howies-Calendar_Tilt.png")" class=" howies" />
            <img src="@Url.Content("/Content/Images/Home/Papa-Johns---Kitchen-Conversion-Tilt.png")" class="johns" />
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 center-block z-index">
                <video controls>
                    <source src="~/Content/Video/AdComm_3.2.18.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 center-block">
                <p class="text-center">
                    Partner with the most popular food in the world! Everyday can be a Pizza Party when you team up with our
                    distributors & start branding through pizza! Let us hand deliver you brand with every  order and every
                    delivery... everyday!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slices wood">
    <div class="col-lg-10 center-block">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="pan-text">
                <img src="~/Content/Images/Home/pan_04.png" class="center-block img-responsive" />
                <h3 class="text-center">COMPLIMENTARY CREATIVE</h3>
                <p class="text-center">
                    We design the ad and create the artwork!
                    You have a business to run and houses to sell. Let us worry about the details.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="pan-text">
                <img src="~/Content/Images/Home/pan_04.png" class="center-block img-responsive" />
                <h3 class="text-center">DAILY DISTRIBUTION</h3>
                <p class="text-center">It’s America’s FAVORITE FOOD! With the most loyal customers around, get your brand into the hands and homes of your community.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="pan-text">
                <img src="~/Content/Images/Home/pan_04.png" class="center-block img-responsive" />
                <h3 class="text-center">EXCLUSIVE EXPOSURE</h3>
                <p class="text-center">You are featured exclusively! We separate your brand from the competition and capture the full attention of your community!</p>
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-push-1">
            <img src="@Url.Content("~/Content/Images/Home/Magnets-Veggies.jpg")" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-push-1">
            <h3>About Us</h3>
            <p>
                Our newest acquisition, Pizza Solutions, is a fantastic advertising campaign combining excellent advertising value with
                guaranteed distribution. Pizza restaurant owners love our “solution” for increased delivery orders, and advertisers love our
                “solution” for guaranteed distribution, increasing new business and growth. With magnets being delivered to every home on every delivery, business owners are seen more often for longer periods of time and see their new sales increase by 20% per year….All for a great low price!!! Pizza Solutions, your solutions partner for growth.
            </p>
            <div class="btn-wrapper center-block">
                <img src="@Url.Content("~/Content/Images/Home/Free-Design-Btn.png")" class="img-responsive center-block relative" />
                <p class="text-center" data-toggle="modal" data-target="#FreeAd">GET YOUR FREE DESIGN!</p>
            </div>
        </div>
    </div>
</section>

<section class="distribution">
    <img src="~/Content/Images/Home/Over-5000--.png" class="img-responsive" />
</section>

<section class="clients">
    <div class="row">
        <div class="col-xs-12 col-lg-8 center-block">
            <h3 class="text-center">Recent Clients</h3>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.pizzahut.com/" target="_blank"><img src="~/Content/Images/Home/pizza-hut_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.dominos.com/" target="_blank"><img src="~/Content/Images/Home/Dominos_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://pizzaranch.com/" target="_blank"><img src="~/Content/Images/Home/pizza-ranch_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.papajohns.com" target="_bank"><img src="~/Content/Images/Home/papa-johns_05.png" class="img-responsive" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.marcos.com/" target="_blank"><img src="~/Content/Images/Home/marcos_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.huntbrotherspizza.com/" target="_blank"><img src="~/Content/Images/Home/hunt-brothers_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.hussonspizza.com/" target="_blank"><img src="~/Content/Images/Home/hussons_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://johnnybruscos.com/" target="_blank"><img src="~/Content/Images/Home/johnnys_05.png" class="img-responsive" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="http://www.pizzainn.com/" target="_blank"><img src="~/Content/Images/Home/pizza-inn_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="http://www.pizzablitz.com/" target="_blank"><img src="~/Content/Images/Home/blitz_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.pizzaguys.com/" target="_blank"><img src="~/Content/Images/Home/pizza-guys_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="http://www.mypizzafino.com/" target="_blank"><img src="~/Content/Images/Home/fino_05.png" class="img-responsive" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_EmailContact")

@Html.Partial("_FreeAdModal")


@section Scripts {

    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {

                console.log("Success");
                $('#successModal').modal('show');
            });


        </script>

    }
    <script>
        $("#freeAdContact").validate();
        $("#emailContact").validate();
    </script>
}
