@{
    ViewBag.Title = "Home Page";
}

<section class="splash home">
    <div class="row">
        <div class="col-lg-10 center-block bricks relative">
            @Html.Partial("_Pizza")
            <img src="@Url.Content("/Content/Images/Rosa---Kitchen-Conversion_Tilt.png")" class="rosa" />
            <img src="@Url.Content("/Content/Images/Pizza-Inn-Cowboys.png")" class="inn" />
            <img src="@Url.Content("/Content/Images/Hungry-Howies-Calendar_Tilt.png")" class=" howies" />
            <img src="@Url.Content("/Content/Images/Papa-Johns---Kitchen-Conversion-Tilt.png")" class="johns" />
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 center-block z-index">
                <video controls>
                    <source src="~/Content/Video/AdComm_3.2.18.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 center-block">
                <p class="text-center">
                    Partner with the most popular food in the world! Everyday can be a Pizza Party when you team up with our
                    distributors & start branding through pizza! Let us hand deliver you brand with every  order and every
                    delivery... everyday!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slices wood">
    <div class="col-lg-10 center-block">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="pan-text">
                <img src="~/Content/Images/pan_04.png" class="center-block img-responsive" />
                <h3 class="text-center">HIGH QUALITY MAGNETS</h3>
                <p class="text-center">Magnets are printed in high quality full resolution, and feature your own logo and any artwork you request.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="pan-text">
                <img src="~/Content/Images/pan_04.png" class="center-block img-responsive" />
                <h3 class="text-center middle">ENTIRELY FREE</h3>
                <p class="text-center p-offset-top">We handle the hassle of sales for you and provide our magnets at absolutely no cost.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="pan-text">
                <img src="~/Content/Images/pan_04.png" class="center-block img-responsive" />
                <h3 class="text-center">EASY DISTRIBUTION</h3>
                <p class="text-center">Use your delivery drivers to hand out magnets at every stop they make, growing your advertising exponentially.</p>
            </div>
        </div>
    </div>
</section>

<section class="about-us">   
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-push-1">
            <img src="@Url.Content("~/Content/Images/Magnets-Veggies.jpg")" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-push-1">
            <h3>About Us</h3>
            <p>
                Our newest acquisition, Pizza Solutions, is a fantastic advertising campaign combining excellent advertising value with
                guaranteed distribution. Pizza restaurant owners love our “solution” for increased delivery orders, and advertisers love our
                “solution” for guaranteed distribution, increasing new business and growth. With magnets being delivered to every home on every delivery, business owners are seen more often for longer periods of time and see their new sales increase by 20% per year….All for a great low price!!! Pizza Solutions, your solutions partner for growth.
            </p>
            <div class="btn-wrapper center-block">
                <img src="@Url.Content("~/Content/Images/Free-Design-Btn.png")" class="img-responsive center-block relative" />
                <p class="text-center" data-toggle="modal" data-target="#FreeAd">GET YOUR FREE DESIGN!</p>
            </div>
        </div>
    </div>
</section>

<section class="distribution">
    <img src="~/Content/Images/Over-5000--.png" class="img-responsive" />
</section>

<section class="clients">
    <div class="row">
        <div class="col-xs-12 col-lg-8 center-block">
            <h3 class="text-center">Recent Clients</h3>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.pizzahut.com/" target="_blank"><img src="~/Content/Images/pizza-hut_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.dominos.com/" target="_blank"><img src="~/Content/Images/Dominos_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://pizzaranch.com/" target="_blank"><img src="~/Content/Images/pizza-ranch_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.papajohns.com" target="_bank"><img src="~/Content/Images/papa-johns_05.png" class="img-responsive" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.marcos.com/" target="_blank"><img src="~/Content/Images/marcos_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.huntbrotherspizza.com/" target="_blank"><img src="~/Content/Images/hunt-brothers_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.hussonspizza.com/" target="_blank"><img src="~/Content/Images/hussons_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://johnnybruscos.com/" target="_blank"><img src="~/Content/Images/johnnys_05.png" class="img-responsive" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="http://www.pizzainn.com/" target="_blank"><img src="~/Content/Images/pizza-inn_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="http://www.pizzablitz.com/" target="_blank"><img src="~/Content/Images/blitz_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="https://www.pizzaguys.com/" target="_blank"><img src="~/Content/Images/pizza-guys_05.png" class="img-responsive" /></a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="http://www.mypizzafino.com/" target="_blank"><img src="~/Content/Images/fino_05.png" class="img-responsive" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_EmailContact")

@Html.Partial("_FreeAdModal")


@section Scripts {

    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {

                console.log("Success");
                $('#successModal').modal('show');
            });


        </script>

    }
    <script>
        $("#freeAdContact").validate();
        $("#emailContact").validate();
    </script>
};
