
@{
    ViewBag.Title = "Magnets";
}

@Html.Partial("_VideoPartial")

<section class="magnets">
    <div class="row">
        <div class="col-lg-10 center-block">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 p-bottom-15">
                    <img src="@Url.Content("~/Content/Images/PizzaHut-Kitchen-Conversion-Magnet_03.png")" class="img-responsive center-block" />
                    <div class="btn-wrapper">
                        <div class="btn ripped kitchen" data-toggle="modal" data-target="#carouselModal">Kitchen Conversion</div>
                    </div>
                    <p class="text-center">These are perfect for every kitchen. Our team members use theirs at least once a week. This is the perfect way to add value to your customers without ever lifting a finger!</p>
                    <div class="btn-wrapper">
                        <div class="btn orange kitchen center-block" data-toggle="modal" data-target="#carouselModal">VIEW MORE</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <img src="@Url.Content("~/Content/Images/Hungry-Howies-Calendar-Magnet_03.png")" class="img-responsive center-block" />
                    <div class="btn-wrapper">
                        <div class="btn ripped calendar" data-toggle="modal" data-target="#carouselModal">Calendar Magnets</div>
                    </div>
                    <p class="text-center">Perfect for the entire year and a great way to remind your customers of your 2018-2019 deals you have going on! You could offer 10% off for customers who have magnets and have them bring it in when they want to take advantage of the deal!</p>
                    <div class="btn-wrapper">
                        <div class="btn orange calendar center-block" data-toggle="modal" data-target="#carouselModal">VIEW MORE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid black-border"></section>

<section class="magnets p-bottom-25">
    <div class="row">
        <div class="col-lg-10 center-block">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                    <img src="@Url.Content("~/Content/Images/PizzaHut-Schedule-Magnet_03.png")" class="img-responsive center-block" />
                    <div class="btn-wrapper">
                        <div class="btn ripped schedule" data-toggle="modal" data-target="#carouselModal">Schedule Magnets</div>
                    </div>
                    <p class="text-center">Help your customers keep up to date with their favorite local sports teams and allow them the opportunity to plan a fun night out with the family!</p>
                    <div class="btn-wrapper">
                        <div class="btn orange schedule center-block" data-toggle="modal" data-target="#carouselModal">VIEW MORE</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <img src="@Url.Content("~/Content/Images/Dominoes-Emergency-Magnet_03.png")" class="img-responsive center-block" />
                    <div class="btn-wrapper">
                        <div class="btn ripped emergency" data-toggle="modal" data-target="#carouselModal">Emergency Magnets</div>
                    </div>
                    <p class="text-center">These are perfect for every kitchen. Our team members use theirs at least once a week. This is the perfect way to add value to your customers without ever lifting a finger!</p>
                    <div class="btn-wrapper">
                        <div class="btn orange emergency center-block" data-toggle="modal" data-target="#carouselModal">VIEW MORE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_CarouselModal")

@Html.Partial("_EmailContact")

@section Scripts {
    @Scripts.Render("~/Scripts/CarouselSwitch.js")
}


