
@{
    ViewBag.Title = "MoreForYourPizzeria";
}


<section class="more-heading p-bottom-25">
    <div class="row">
        <div class="col-lg-10 center-block">
            <h2 class="text-center">More For Your Pizzeria</h2>
            <p class="text-center">This is were the page paragraph goes when ready.</p>
        </div>
    </div>
</section>

<section class="products">
    <div class="row">
        <div class="col-lg-8 center-block">
            <div class="row">
                <div id="shirts-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products teal-back relative">
                    <h4 class="text-center">SHIRTS</h4>
                    <a data-target="#shirts">
                        <img src="@Url.Content("/Content/Images/Products/half-Dominos-shirt_03.png")" class="img-responsive display-item" />
                    </a>
                </div>
                <div id="cups-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products orange-back relative">
                    <h4 class="text-center">CUPS</h4>
                    <a data-target="#cups">
                        <img src="@Url.Content("/Content/Images/Products/half-cups_03.png")" class="img-responsive display-item" />
                    </a>
                </div>
                <div id="totes-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products orange-back relative">
                    <h4 class="text-center">TOTES</h4>
                    <a data-target="#totes">
                        <img src="@Url.Content("/Content/Images/Products/half-totes_06.png")" class="img-responsive display-item" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div id="sports-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products red-back relative">
                    <h4 class="text-center">SPORTS</h4>
                    <a data-target="#sports">
                        <img src="@Url.Content("/Content/Images/Products/half-sport_07.png")" class="img-responsive display-item" />
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 box main-products girl-eating-pizza relative">
                </div>
                <div id="koosie-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products green-back relative">
                    <h4 class="text-center">KOOSIE</h4>
                    <a data-target="#koosie">
                        <img src="@Url.Content("/Content/Images/Products/half-koosie_07.png")" class="img-responsive display-item" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slide-group products relative">
    <div class="row">
        <div id="shirts" class="col-lg-10 center-block slide-items shirts slide-open">
            <div class="col-lg-3 box maroon-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza---Back_Oakland-Ca.png")" id="dominos" class="img-responsive dominos" /></div>
            <div class="col-lg-3 box yellow-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza---Front_Oakland-Ca.png")" id="dominos" class="img-responsive" /></div>
            <div class="col-lg-3 box red-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Hut---Front_Sioux-Ctr.png")" id="pizza-hut" class="img-responsive" /></div>
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Hut---Back_Sioux-Ctr.png")" id="pizza-hut" class="img-responsive" /></div>
            <div class="col-lg-3 box green-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Firehouse-Pizza---Front_Peoria-Ia.png")" id="firehouse" class="img-responsive" /></div>
            <div class="col-lg-3 box orange-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Firehouse-Pizza---Back_Peoria-Ia.png")" id="firehouse" class="img-responsive" /></div>
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Pizza-Palace---Front_Scott-La.png")" id="palace" class="img-responsive" /></div>
            <div class="col-lg-3 box green-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Palace---Back_Scott-La.png")" id="palace" class="img-responsive" /></div>
        </div>
    </div>
    <div class="row">
        <div id="cups" class="col-lg-10 center-block slide-items cups">
            <div class="col-lg-3 box teal-back"><img src="@Url.Content("/Content/Images/Products/Little-Caesars-Cup.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box green-back"><img src="@Url.Content("/Content/Images/Products/Jet's-Pizza.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box orange-back"><img src="@Url.Content("~/Content/Images/Products/Pizza-Hut.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box red-back"><img src="@Url.Content("~/Content/Images/Products/Pizza-Palace-of-Scott.png")" class="img-responsive" /></div>
        </div>
    </div>
    <div class="row">
        <div id="sports" class="col-lg-10 center-block slide-items sports">
            <div class="col-lg-3 box teal-back"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza-Sports-Bottles.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box maroon-back"><img src="@Url.Content("~/Content/Images/Products/Little-Caesars-Sports-Bottle.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box yellow-back"><img src="@Url.Content("/Content/Images/Products/Pizza-Hut-Sports-Bottle.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box red-back"><img src="@Url.Content("/Content/Images/Products/Jet's-Pizza-Sports-Bottle.png")" class="img-responsive" /></div>
        </div>
    </div>
    <div class="row">
        <div id="totes" class="col-lg-10 center-block slide-items totes">
            <div class="col-lg-3 box teal-back"><img src="@Url.Content("/Content/Images/Products/Little-Ceasars-Tote.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box maroon-back"><img src="@Url.Content("~/Content/Images/Products/Pizza-Hut-Tote.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box yellow-back"><img src="@Url.Content("/Content/Images/Products/Pizza-Palace-Tote.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box red-back"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza-Tote.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box green-back"><img src="@Url.Content("/Content/Images/Products/Jet's-Pizza-Green.png")" class="img-responsive"></div>
        </div>
    </div>
    <div class="row">
        <div id="koosie" class="col-lg-10 center-block slide-items koosie">
            <div class="col-lg-3 box teal-back"><img src="@Url.Content("/Content/Images/Products/Koosie-1.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box maroon-back"><img src="@Url.Content("~/Content/Images/Products/Koosie-2.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box yellow-back"><img src="@Url.Content("/Content/Images/Products/Koosie-3.png")" class="img-responsive" /></div>
            <div class="col-lg-3 box red-back"><img src="@Url.Content("/Content/Images/Products/Koosie-4.png")" class="img-responsive" /></div>
        </div>
    </div>
</section>

@Html.Partial("_ProductModal")

@section Scripts {
    @Scripts.Render("~/Scripts/ProductSlickSlider.js");
}
