
@{
    ViewBag.Title = "Products";
}


<section class="more-heading p-bottom-25">
    <div class="row">
        <div class="col-lg-10 center-block">
            <h2 class="text-center">knead gear?</h2>            
        </div>
    </div>
</section>

<section class="products">
    <div class="row">
        <div class="col-lg-8 center-block">
            <div class="row">
                <div id="shirts-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products teal-back relative">
                    <h4 class="text-center">SHIRTS</h4>
                    <a data-target="#shirts">
                        <img src="@Url.Content("/Content/Images/Products/half-Dominos-shirt_03.png")" class="img-responsive display-item" />
                    </a>
                </div>
                <div id="cups-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products yellow-back relative">
                    <h4 class="text-center">CUPS</h4>
                    <a data-target="#cups">
                        <img src="@Url.Content("/Content/Images/Products/half-cups_03.png")" class="img-responsive display-item" />
                    </a>
                </div>
                <div id="totes-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products orange-back relative">
                    <h4 class="text-center">TOTES</h4>
                    <a data-target="#totes">
                        <img src="@Url.Content("/Content/Images/Products/half-totes_03.png")" class="img-responsive display-item" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div id="sports-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products red-back relative">
                    <h4 class="text-center">SPORTS</h4>
                    <a data-target="#sports">
                        <img src="@Url.Content("/Content/Images/Products/half-sport_07.png")" class="img-responsive display-item" />
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 box main-products girl-eating-pizza relative">
                </div>
                <div id="koosie-slide" class="col-sm-4 col-md-4 col-lg-4 box main-products green-back relative">
                    <h4 class="text-center">KOOSIE</h4>
                    <a data-target="#koosie">
                        <img src="@Url.Content("/Content/Images/Products/half-koosie_07.png")" class="img-responsive display-item" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slide-group products relative" style="padding-bottom: 50px;">
    <div class="row">
        <div id="shirts" class="col-lg-10 center-block slide-items shirts slide-open">
            <div class="col-lg-3 box maroon-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza---Back_Oakland-Ca.png")" name="gray" class="shirt" /></div>
            <div class="col-lg-3 box yellow-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza---Front_Oakland-Ca.png")" name="gray" class="shirt" /></div>
            <div class="col-lg-3 box red-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Hut---Front_Sioux-Ctr.png")" name="black" class="shirt" /></div>
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Hut---Back_Sioux-Ctr.png")" id="shirt" name="black" class="shirt" /></div>
            <div class="col-lg-3 box green-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Firehouse-Pizza---Front_Peoria-Ia.png")" name="white" class="shirt" /></div>
            <div class="col-lg-3 box orange-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Firehouse-Pizza---Back_Peoria-Ia.png")" name="white" class="shirt" /></div>
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Pizza-Palace---Front_Scott-La.png")" name="red" class="shirt" /></div>
            <div class="col-lg-3 box green-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Palace---Back_Scott-La.png")" name="red" class="shirt" /></div>
        </div>
    </div>
    <div class="row">
        <div id="cups" class="col-lg-10 center-block slide-items cups">
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Little-Caesars-Cup.png")" name="white" class="cup" /></div>
            <div class="col-lg-3 box green-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Jet's-Pizza.png")" name="green" class="cup" /></div>
            <div class="col-lg-3 box orange-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Pizza-Hut.png")" name="black" class="cup" /></div>
            <div class="col-lg-3 box red-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Pizza-Palace-of-Scott.png")" name="white" class="cup" /></div>
            <div class="col-lg-3 box orange-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/cup-red-product.png")" name="red" class="cup" /></div>
        </div>
    </div>
    <div class="row">
        <div id="sports" class="col-lg-10 center-block slide-items sports">
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Dominos-Pizza-Sports-Bottles.png")" class="sport" name="blue" /></div>
            <div class="col-lg-3 box maroon-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Little-Caesars-Sports-Bottle.png")" class="sport" name="orange" /></div>
            <div class="col-lg-3 box yellow-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Hut-Sports-Bottle.png")" class="sport" name="red" /></div>
            <div class="col-lg-3 box red-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Jet's-Pizza-Sports-Bottle.png")" class="sport" name="green" /></div>
        </div>
    </div>
    <div class="row">
        <div id="totes" class="col-lg-10 center-block slide-items totes">
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Little-Ceasars-Tote.png")" class="tote" name="canvas" /></div>
            <div class="col-lg-3 box maroon-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Pizza-Hut-Tote.png")" class="tote" id="tote" name="black" /></div>
            <div class="col-lg-3 box yellow-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Pizza-Palace-Tote.png")" class="tote" id="tote" name="red" /></div>
            <div class="col-lg-3 box red-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Hungry-Howies.png")" class="tote" id="tote" name="blue" /></div>
            <div class="col-lg-3 box green-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Jet's-Pizza-Green.png")" class="tote" id="tote" name="green"></div>
        </div>
    </div>
    <div class="row">
        <div id="koosie" class="col-lg-10 center-block slide-items koosies">
            <div class="col-lg-3 box teal-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Koosie-1.png")" class="koosie" name="black" /></div>
            <div class="col-lg-3 box yellow-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Koosie-3.png")" class="koosie" name="gray" /></div>
            <div class="col-lg-3 box maroon-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("~/Content/Images/Products/Koosie-2.png")" class="koosie" name="black" /></div>
            <div class="col-lg-3 box red-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Koosie-4.png")" class="koosie" name="gray" /></div>
            <div class="col-lg-3 box yellow-back" data-target="#ProductModal" data-toggle="modal"><img src="@Url.Content("/Content/Images/Products/Depot-The---1Pizzeria.png")" class="koosie" name="red" /></div>

        </div>
    </div>
</section>

@Html.Partial("_EmailContact")

@Html.Partial("_ProductModal")

@section Scripts {
    @Scripts.Render("~/Scripts/ProductSlickSlider.js");

    <script>
        $("#productForm").validate();
    </script>
}
