<section class="footer">
    <div class="row">
        <div class="col-lg-8 center-block">
            <div class="col-xs-4 col-sm-4 col-md-4 font-white center-small">
                <h4>Pizza Solutions</h4>
                <address>
                    1 (800) 778-6195<br />2921 Avenue E,<br />
                    Arlington, TX 76011
                </address>
            </div>
            <div class="col-xs-8 col-sm-4 col-sm-pull-1 col-md-4 col-md-pull-1 col-lg-pull-2 center-small">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.310406523733!2d-97.05657554904874!3d32.757497192193846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e871cbaf2e417%3A0x1988865b0777f58a!2s2921+Avenue+E%2C+Arlington%2C+TX+76011!5e0!3m2!1sen!2sus!4v1520957015293" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-push-2 font-white center-small">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Magnets", "Magnets", "Home")</li>
                    <li>@Html.ActionLink("Advertisers", "Advertisers", "Home")</li>
                    <li>@Html.ActionLink("Distributors", "Distributors", "Home")</li>
                    <li>@Html.ActionLink("Partnership Agreement", "Partnership", "Home")</li>
                    <li><a href="#contact" id="contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
